@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.logo{
  transition: transform 0.25s ease-out;
}

.logo:hover{
  transform: rotate(90deg);
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm text-gray-700 hover:text-gray-500 font-medium;
}


.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-around {
  @apply flex justify-around items-center;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.button-primary-dark {
  @apply bg-tertiary_dark hover:bg-tertiary_light text-secondary_light hover:text-tertiary_dark transition duration-200;
}

.button-primary-light{
  @apply bg-tertiary_light hover:bg-tertiary_dark text-secondary_dark hover:text-tertiary_light transition duration-200;
}

.navlink {
  @apply text-tertiary_light;
  opacity: 60%;
  display: inline-flex;
  position: relative;
  transition: opacity 0.2s ease-out;
}

.navlink::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  @apply bg-tertiary_light;
  opacity: 60%;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.navlink:hover::after {
  opacity: 100%;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navlink:hover{
  opacity: 100%;
}